  <% if @question %>
    <p><strong><%= @question.text %></strong></p>
    <ul class="answer_list">
      <% @question.answers.each do |answer| %>
        <li class="answer_box">
          <div class="vote_side col-md-4">
            <div class="vote_total"><%= answer.votes.map(&:value).reduce(:+) %> <br /> votes</div>
            <% if answer.user_id == session[:id] %>
            <% else %>
              <div class="voting">
                <%= button_to "upvote", question_answer_votes_path(@question, answer, value: 1) %>
                <%= button_to "downvote", question_answer_votes_path(@question, answer, value: -1) %>
              </div>
            <% end %>
          </div>
          <div class="answer_text col-md-8">
            <%= answer.text %>
          </div>
          <div class="clearfix"></div>
        </li>
      <% end %>
    </ul>
  <% end %>

<% if @question.user_id == session[:id] %>
<% else %>
  <%= form_for ([@question, @answer]), html: {class: "answer_form"} do |f| %>
    <%= f.text_area :text %>
    <%= f.submit "Answer" %>
  <% end %>
<% end %>