<%= @question.text %>
  <% if @question.answers.length > 0 %>
    <ul>
      <% @question.answers.each do |answer| %>
        <li><%= answer.text %></li>
      <% end %>
    </ul>
  <% end %>

<% if @question.user_id == session[:id] %>
  voting logic??
<% else %>
  <%= form_for ([@question, @answer]), html: {class: "answer_form"} do |f| %>
    <%= f.text_area :text %>
    <%= f.submit "Answer" %>
  <% end %>
<% end %>